## <center><img src="./Data/GU-HHS-logo.jpg"></center>

<h1><center><b><font size="6">Introduction to Python</font size></b></center></h1>
<h1><center><b><font size="7">Working with dates</font size></b></center></h1>

# <span style=color:blue><center><font size="6">datetime</center></span>
<div style="width: 100%; height: 20px; background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);"></div>
<div style="width: 100%; height: 20px; background: linear-gradient(to right, white, blue);"></div>
<hr style="border: 8px linear-gradient(to right, pink, yellow, cyan, lime) 1">

In [1]:
import datetime

In [2]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [3]:
help(datetime.date)

Help on class date in module datetime:

class date(builtins.object)
 |  date(year, month, day) --> date object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  isocalendar(...)
 |      Return a 3-tuple containing ISO year, week number, and weekday.
 |
 |  isoformat(...)
 |      Return string in ISO 8601 format, YYYY-MM-DD.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  replace(...)
 |      Return date with new specified fields.
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromisocalendar(...) from builtins.type
 |      int, int, int -> Construct a date from the ISO year, week number and weekday.
 |
 |      This is the inverse of the date.isocalendar() function
 |
 |  fromisoformat(...) from builtins.type
 |      str -> Construct a date from the output of date.isoformat()
 |
 |  fromordinal(...) from builtins.type
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  fromtimestamp(timestamp, /) from builtins.type
 |      Create a date from a POSIX timestamp.
 |
 |      The timestamp is a number, e.g. created via time.time(), that is interpreted
 |      as local time.
 |
 |  today(...) from builtins.type
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  day
 |
 |  month
 |
 |  year
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.date(9999, 12, 31)
 |
 |  min = datetime.date(1, 1, 1)
 |
 |  resolution = datetime.timedelta(days=1)

In [4]:
# GU Handelhögskolan birthday
gu_hhs_bd = datetime.date(1923, 10, 1)

print("This business school was founded on", gu_hhs_bd)

This business school was founded on 1923-10-01

In [5]:
print(gu_hhs_bd.year)
print(gu_hhs_bd.month)
print(gu_hhs_bd.day)

1923
10
1

In [6]:
# Basic date math
# .timedelta() class
# Add or subtract the number of days to or from a datetime object

Q2_earnings_release = datetime.date(2024, 7, 15)
Q3_earning_release = datetime.date(2024, 10, 15)

AGM = datetime.date(2024, 3, 1)                    # Annual General Meeting (AGM
FYE = datetime.date(2024, 6, 30)                   # Fiscal Year End

In [7]:
# Get the number of days between these dates
between_releases = Q3_earning_release - Q2_earnings_release
between_releases

datetime.timedelta(days=92)

In [8]:
# Can specify different date formats
# 1. The strftime()
print ("The GU Handelhögskolan was founded on", gu_hhs_bd.strftime("%A, %B %d, %Y"))

The GU Handelhögskolan was founded on Monday, October 01, 1923

### You're unlikely to remember all of the formatting code so here is a link :
[Datetime Formatting Codes](http://bit.ly/python-dt-fmt)

In [9]:
# 2… or use the .format() METHOD

gu_hhs_msg = "The GU Handelhögskolan was founded on {:%A, %B %d, %Y}"
print(gu_hhs_msg.format(gu_hhs_bd))

The GU Handelhögskolan was founded on Monday, October 01, 1923

In [10]:
# Accessing the current datetime, today() METHOD
# module -> class -> method

datetime.datetime.today()

datetime.datetime(2024, 10, 3, 6, 33, 12, 718248)

In [11]:
# Converting strings into date - strptime() METHOD    ......... should be called parsestr()

acc_entry_date = input("Please enter the accounting item entry date (D-M-Y): ")

Please enter the accounting item entry date (D-M-Y):  01-01-2024

In [12]:
# Now convert our string formatted date to datetime using .strptime()
acc_entry_date_dt = datetime.datetime.strptime(acc_entry_date, "%m-%d-%Y")
type(acc_entry_date_dt)
print(" Item was entered on", acc_entry_date_dt)

type(acc_entry_date_dt)

 Item was entered on 2024-01-01 00:00:00

datetime.datetime

# <span style=color:blue>2. Pandas - Working with dates</span>
<div style="width: 100%; height: 20px; background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);"></div>
<div style="width: 100%; height: 20px; background: linear-gradient(to right, white, blue);"></div>
<hr style="border: 8px linear-gradient(to right, pink, yellow, cyan, lime) 1">

## <span style=color:blue>2.1 Import data THEN convert to datetime</span>

In [19]:
import pandas as pd

In [20]:
sp500_goog = pd.read_csv('./Data/sp500_goog.csv')

In [21]:
sp500_goog.shape

(7230, 9)

In [22]:
sp500_goog.head()

,Unnamed: 0,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,68685,2010-01-04,GOOGL,15.684434,15.684434,15.753504,15.621622,15.689439,78169752.0
1,68686,2010-01-05,GOOGL,15.615365,15.615365,15.711712,15.554054,15.695195,120067812.0
2,68687,2010-01-06,GOOGL,15.221722,15.221722,15.662162,15.174174,15.662162,158988852.0
3,68688,2010-01-07,GOOGL,14.867367,14.867367,15.265265,14.831081,15.250250,256315428.0
4,68689,2010-01-08,GOOGL,15.065566,15.065566,15.096346,14.742492,14.814815,188783028.0

In [23]:
sp500_goog.index

RangeIndex(start=0, stop=7230, step=1)

In [24]:
sp500_goog.iloc[0, 1].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [ ]:
sp500_goog['Date']=pd.to_datetime(sp500_goog['Date'], format='%Y-%m-%d')

In [ ]:
sp500_goog.iloc[0, 1].day_name()

In [ ]:
sp500_goog['Date']

## <span style=color:blue>2.2 Perform string-date conversion AT file import</span>

In [ ]:
# Read .csv and convert date from string to datetime
sp500_goog = pd.read_csv('./Data/sp500_goog.csv', parse_dates=['Date'], date_format='%Y-%m-%d')

sp500_goog['Date']

In [ ]:
# View earliest and latest dates in our df

print("The first date in our series is ", sp500_goog['Date'].min())
print("The last date in our series is ",sp500_goog['Date'].max())

In [ ]:
# What is the timespan of our data? just use the minus operator
sp500_goog['Date'].max() - sp500_goog['Date'].min()

In [ ]:
# Create new column from datetime column

# Create a new column with day name of trading date

sp500_goog['Day'] = sp500_goog['Date'].dt.day_name()
sp500_goog

In [ ]:
# Set the index to be the trade date
sp500_goog.set_index('Date', inplace = True )

sp500_goog.index

In [ ]:
# We should sort the index
sp500_goog = sp500_goog.sort_index()

In [ ]:
# This enables us to slice our date 

# To retrieve information from a specific date, use the .at instance:

sp500_goog.at['2010',]  # retrieves all columns

### <span style="color:red">WARNING: If an index does not exist a hard 'key error' will be raised.

In [ ]:
# Avoid hard errors by some rudimentary checking

# try:
movement = sp500_goog.at['2010-01-01',]  # Example of a non-existent date
#except KeyError:
#    print("Index not found")

In [ ]:
# Movements from mid Jan to mid Feb.
sp500_goog.loc['2010-01-15':'2010-02-15']

In [ ]:
sp500_goog.loc['2010-01':'2010-02']['Close'].mean()

In [ ]:
sp500_goog.loc['2010-02']['High'].max()

## <span style=color:blue>2.3 Re-sampling

In [ ]:
# Mean of the monthly 'Close'(ing) for each year

monthly_mean_price = sp500_goog['Close'].resample('M').mean()
print(monthly_mean_price)

In [ ]:
# Let's extract the Y, yearly mean 'Close' ...

mean_annual_closing_price = sp500_goog['Close'].resample('Y').mean()
print(mean_annual_closing_price)

In [ ]:
# Resample to Q, quarterly frequency and get the first closing price of each quarter

quarterly_first = sp500_goog['Close'].resample('Q').first()

print("\nQuarterly first closing price:")
print(quarterly_first)

### <span style="color:purple">Again, you’re not going to remember every offset code so here's another link:
- [Pandas Date Offset Codes](http://bit.ly/pandas-dt-fmt)</span>

In [ ]:
# Plot the yearly mean closing price
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 6))
plt.plot(mean_annual_closing_price, marker='o', linestyle='-', label='Yearly Mean')
plt.title('Yearly Mean Closing Price')
plt.xlabel('Year')
plt.ylabel('Mean Closing Price')
plt.legend()
plt.grid(True)
plt.show()